# 默认仍然使用官方源（或你自定义的镜像源）
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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

# @your-org 下的包走私有仓库
# @xcan-angus:registry=https://nexus.xcan.cloud/repository/xcan-npm-public/

shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
